.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Set the background and text color for the whole page */
body {
  background: linear-gradient(to right, #10001b, #1b001b);
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Set the color for hyperlinks */
a {
  color: #8e8e8e;
}

/* Set the color for headings */
h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

/* Set the color for buttons */
.btn {
  background: linear-gradient(to bottom right, #7B2CBF, #4C4C4C);
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 12px 32px;
  font-size: 1.2rem;
  text-transform: uppercase;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.7);
}

/* Set the color for input fields */
input[type=text], input[type=email], input[type=password], textarea {
  background-color: #555;
  color: #e0e0e0;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

/* Set the color for form labels */
label {
  color: #fff;
}

/* Set the color for tables */
table {
  border-collapse: collapse;
  margin: 20px 0;
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #444;
  color: #fff;
}

td {
  background-color: #555;
  color: #e0e0e0;
}

/* Set the color for alerts */
.alert {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.alert-success {
  background-color: #4CAF50;
}

.alert-warning {
  background-color: #ff9800;
}

.alert-danger {
  background-color: #f44336;
}

/* Set the color for navigation */
nav {
  background-color: #222;
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #8e8e8e;
}

